body {
	background-image: url('../img/header.jpg');
	background-size: cover;
}
.main {
	margin-top: 280px;
	margin-left: 38%;
	color: white;
	text-transform: uppercase;
	font-family: arial;
	font-size: 1.4em;
	letter-spacing: 5px;
}
.button {
	margin-top: 170px;
	margin-left: 620px;
	background-color: maroon;
	color: white;
	border-radius: 40px;
	width: 140px;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}